/* Header
/* --------------------------------- */
$black-header-gradient = rgb(78, 78, 78) rgb(27, 27, 27);

$black-header-border-color = rgb(10, 10, 10);

$black-header-text-color = rgb(193, 193, 193);

$black-header-button-gradient = rgb(85, 85, 85) rgb(25, 25, 25);
$black-header-button-down-gradient = adjust-colors($black-header-button-gradient, 5%);

$black-header-button-default-gradient = rgb(138, 172, 236) rgb(38, 100, 221);
$black-header-button-default-down-gradient = adjust-colors($black-header-button-default-gradient, -4%);

$black-arrow-darken = 2%
$black-arrow-lighten = 0.5%

.iOCSS.black .header,
.iOCSS .header.black {
	gradient($black-header-gradient);
	
	border-bottom-color: $black-header-border-color;
	
	h1 {
		color: $black-header-text-color;

		text-shadow: 0 -1*$px 0 $header-text-shadow-color;
	}
	
	.button,
	button {
		gradient($black-header-button-gradient);
		
		color: $black-header-text-color;
		text-shadow: 0 -1*$px 0 rgba(0, 0, 0, 0.5);
		
		&:active {
			gradient($black-header-button-down-gradient);
		}
		
		&.default {
			color: $header-text-color;
		
			&:active {
				gradient($black-header-button-default-down-gradient);
			}
		
			&.back:before,
			&.forward:before {
				background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($black-header-button-default-gradient[1], $black-arrow-lighten)), to(darken($black-header-button-default-gradient[0], $black-arrow-darken)));
			}
			
			&.back:active:before,
			&.forward:active:before {
				background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($black-header-button-default-down-gradient[1], $black-arrow-lighten)), to(darken($black-header-button-default-down-gradient[0], $black-arrow-darken)));
			}
		}
		
		&.back:before,
		&.forward:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($black-header-button-gradient[1], $black-arrow-lighten)), to(darken($black-header-button-gradient[0], $black-arrow-darken)));
		}
		
		&.back:active:before,
		&.forward:active:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($black-header-button-down-gradient[1], $black-arrow-lighten)), to(darken($black-header-button-down-gradient[0], $black-arrow-darken)));
		}
	}
}
