/* Header
/* --------------------------------- */
$white-header-gradient = rgb(246, 246, 246) rgb(220, 223, 223);

$white-header-border-color = rgb(170, 170, 170);

$white-header-text-color = rgb(71, 71, 71);
$white-header-text-shadow-color = rgb(255, 255, 255);

$white-header-button-gradient = rgb(236, 236, 236) rgb(211, 211, 211);
$white-header-button-down-gradient = adjust-colors($white-header-button-gradient, -5%);

$white-header-button-default-gradient = rgb(121, 121, 121) rgb(72, 72, 72);
$white-header-button-default-down-gradient = adjust-colors($white-header-button-default-gradient, -5%);
$white-header-button-default-text-color = rgb(255, 255, 255);

$white-arrow-darken = 1%
$white-arrow-lighten = 0%

$white-text-color = rgb(71, 71, 71);

$white-frame-background = rgb(233, 234, 236);

$white-search-gradient = rgb(217, 217, 219) rgb(192, 193, 194);


.iOCSS.white {
	color: $white-text-color;
}

.iOCSS.white .header,
.iOCSS .header.white {
	gradient($white-header-gradient);
	
	border-bottom-color: $white-header-border-color;
	
	h1 {
		color: $white-header-text-color;
		
		text-shadow: 0 $px 0 $white-header-text-shadow-color;
	}
	
	.button,
	button {
		gradient($white-header-button-gradient);
		
		color: $white-header-text-color;
		text-shadow: 0 $px 0 $white-header-text-shadow-color;
		
		&:active {
			gradient($white-header-button-down-gradient);
		}
		
		&.default {
			gradient($white-header-button-default-gradient);
			
			color: $white-header-button-default-text-color;
	        text-shadow: 0 -1*$px 0 rgba(0, 0, 0, 0.5);
	
			&:active {
				gradient($white-header-button-default-down-gradient);
			}
		
			&.back:before,
			&.forward:before {
				background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($white-header-button-default-gradient[1], $white-arrow-darken)), to(darken($white-header-button-default-gradient[0], $white-arrow-darken)));
			}
			
			&.back:active:before,
			&.forward:active:before {
				background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($white-header-button-default-down-gradient[1], $white-arrow-darken)), to(darken($white-header-button-default-down-gradient[0], $white-arrow-darken)));
			}
		}
		
		&.back:before,
		&.forward:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($white-header-button-gradient[1], $white-arrow-darken)), to(darken($white-header-button-gradient[0], $white-arrow-darken)));
		}
		
		&.back:active:before,
		&.forward:active:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from(lighten($white-header-button-down-gradient[1], $white-arrow-darken)), to(darken($white-header-button-down-gradient[0], $white-arrow-darken)));
		}
	}
}

/* Footer
/* --------------------------------- */
$white-footer-border-color = rgb(205, 205, 205);
$white-footer-shadow-color = rgb(87, 87, 87);

$white-footer-gradient = rgb(245, 245, 245) rgb(221, 221, 221);

$white-footer-button-down-gradient = rgb(197, 197, 197) rgb(225, 225, 225);

$white-footer-button-border-left-color = rgb(180, 180, 180);
$white-footer-button-border-right-color = rgb(246, 246, 246);

$white-footer-button-text-color = rgb(71, 71, 71);
$white-footer-text-shadow-color = $white-header-text-shadow-color ;

$white-footer-icon-gradient = rgb(80, 80, 80) rgb(160, 160, 160);
$white-footer-icon-down-gradient = rgb(72, 72, 72) rgb(145, 145, 145);

$white-footer-icon-color = rgb(100, 100, 100);
$white-footer-icon-down-color = rgb(95, 95, 95);

.iOCSS.white .footer,
.iOCSS .footer.white {
	gradient($white-footer-gradient);
	
    border-top: $px solid $white-footer-border-color;
			
	button,
	.button {
		gradient($white-footer-gradient);
		
		color: $white-footer-button-text-color;
		
		text-shadow: 0 $px 0 $white-footer-text-shadow-color;
		
		border-left-color: $white-footer-button-border-left-color;
		border-right: none;

		box-shadow: inset -0.1rem 0 0 white;
		
		&:last-child {
			box-shadow: none;
		}
		
		i:before {
			color: $white-footer-icon-color;
			text-shadow: 0 $px white;
		}
		
		&.down {
			position: relative;
			border-right-color: rgba(0, 0, 0, 0.175);
			
			box-shadow: inset -0.1rem 0 0 rgba(255, 255, 255, 0.3);
			
			gradient($white-footer-button-down-gradient);
			
			color: $white-footer-button-text-color;
			
			i:before {
				color: $white-footer-icon-down-color;
			}
			
			&:after {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				
				box-shadow: 0 0 0.85rem rgba(0, 0, 0, 0.15) inset,
							0 -0.214rem 1.25rem rgba(0, 0, 0, 0.5) inset;
							
				-webkit-mask: -webkit-linear-gradient(top, black, transparent);
				
				content: "";
			}
		}
	}
}


/* List
/* --------------------------------- */
.iOCSS.white .list,
.list.white {
	li {
		border-bottom: $px solid rgb(198, 199, 201);
		box-shadow: 0 $px 0 white;
	}
}


/* Frame
/* --------------------------------- */
.iOCSS.white .frame,
.frame.white {
	background: $white-frame-background;
	background-image: none;
}

/* Search
/* --------------------------------- */
.iOCSS.white .search,
.search.white {
	gradient($white-search-gradient);

	input {
		border: rgb(176, 176, 176);
		box-shadow: 0 $px 0 rgb(228, 228, 228);
	}
}
