.badge {
	display: inline-block
	border-box();
	
	margin: 0;
	padding: 0 0.35em;
	height: 1.65em;
	min-width: 1.65em;
	
	overflow: hidden;
    
	gradient-shiny($badge-red-gradient);
		
	border: 0.2em solid white;
	border-radius: 1em;
	
	font-size: 0.9125em;
	font-weight: bold;
	color: white;
	line-height: 1.3426em;
	text-align: center;

	box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.3);

	text-shadow: 0 -1*$px 0 rgba(0, 0, 0, 0.2);
}
