/* Button: Default: Gray */
button,
a.button {
	display: inline-block;
	padding: 0.5em 0.75em;

	border: $px solid rgb(110, 110, 110);
	border-radius: 0.35em;

	gradient($button-gray-gradient);
	
	box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.55),
	            inset 0 -0.05em 0.05em rgba(255, 255, 255, 0.15),
	            inset 0.05em 0 0.05em rgba(255, 255, 255, 0.15),
	            inset -0.05em 0 0.05em rgba(255, 255, 255, 0.15),
				0 0 0.125em rgba(0, 0, 0, 1),
				0 0.1em 0.05em rgba(255, 255, 255, 0.35);

	color: $button-text-color;
    font-family: $button-font;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 0 -1*$px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none; /* Reset underline on a.button */
	text-align: center;
	
	user-select: none;
	
	cursor: pointer;
	
	.badge {
		position: absolute;
		right: 0.1em;
		top: 0.1em;
		z-index: 1;
		
		font-size: 0.9em;
	}
	
	&:active {
		gradient($button-gray-down-gradient);
	}
	

	// Large button
	&.large {
	    font-size: 1.5em;
	
		& i {
			font-size: 1.35em;
			vertical-align: middle;
			line-height: 0.5em;
			margin-right: 0.1em;
		}
	}


	/* Button: blue */
	&.blue {
		border-color: $button-blue-border-color;
	
		gradient-shiny($button-blue-gradient);

		&:active {
			gradient-shiny($button-blue-down-gradient);
		}
	}

	/* Button: green */
	&.green {
		border-color: $button-green-border-color;
	
		gradient-shiny($button-green-gradient);

		&:active {
			gradient-shiny($button-green-down-gradient);
		}
	}
	
	/* Button: black */
	&.black {
		border-color: $button-black-border-color;
	
		gradient($button-black-gradient);

		&:active {
			gradient($button-black-down-gradient);
		}
	}

	/* Button: red */
	&.red {
		border-color: $button-red-border-color;
	
	    gradient-shiny($button-red-gradient);
	
		&:active {
		    gradient-shiny($button-red-down-gradient);
		}
	}


	/* Button: round */
	&.round {
		position: relative;
		border-box();
	
		margin: 0.8em 0 0 0.8em;
		padding: 0;
		width: 1.675em;
		height: 1.675em;
	
		overflow: hidden;
    
		border: 0.175em solid white;
		border-radius: 1em;

		color: white;
		line-height: 1.475em;
		text-align: center;

		box-shadow: 0 0 0.4em rgba(0,0,0,0.5);

		text-shadow: 0 -1*$px 0 rgba(0, 0, 0, 0.2);
	
		i {
			font-size: 1.15em;
		}

		&.blue {
			gradient($button-round-blue-gradient);
		
			&:active {
			    gradient($button-round-blue-down-gradient);
			}
		}

		&.red {
			gradient($button-round-red-gradient);
		
			&:active {
			    gradient($button-round-red-down-gradient);
			}
		}
		
		&.unlockDelete {
			transition: all 0.075s ease-in;
			
			&.unlocked {
				transform: rotate(-90deg);
				
				margin-top: 0.0000001em; // Fix a Chrome bug when toggling the rotation a few times
			}
		}
	}
	
	&.back,
	&.forward {
		position: relative;
		
		&:before {
			position: absolute;
			
			height: 1.695em;
			width: 1.695em;
			
			border-top-right-radius: 7.143em 2.857em;
			border-top-left-radius: 2.143em 0.143em;
			border-bottom-right-radius: 0.143em 2.143em;
			border-bottom-left-radius: 2.857em 7.143em;
		
			z-index: 1;
			content: '';
		}
	}
	
	&.back {
		margin-left: 0.65em !important;
		
		border-top-left-radius: 0.905em !important;
		border-bottom-left-radius: 0.905em !important;
		
		&:before {
			top: 0.235em;
			left: -0.315em;
		
			background-image: -webkit-gradient(linear, left bottom, right top, from($header-button-gradient[1]), to($header-button-gradient[0]));
			
			transform: rotate(-45deg) skew(-10deg, -10deg);
		
			box-shadow: $px $px 0 rgba(0,0,0,0.35) inset,
						-($px) $px $px rgba(0,0,0,0.25) inset,
						-($px) -($px) $px rgba(255,255,255,0.85);
		
			border-left: $px solid rgba(255,255,255,0.1);
			// border-left: $px solid rgb(160,175,199);

			-webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
					from(black),
					color-stop(0.35, black),
					color-stop(0.5, transparent),
					to(transparent));
		}
		
		&:active:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from($header-button-down-gradient[1]), to($header-button-down-gradient[0]));
		}
	}

	&.forward {
		margin-right: 0.65em !important;
		
		border-top-right-radius: 0.905em !important;
		border-bottom-right-radius: 0.905em !important;
		
		&:before {
			top: 0.21em;
			right: -0.275em;
		
			background-image: -webkit-gradient(linear, left bottom, right top, from($header-button-gradient[0]), to($header-button-gradient[1]));
			
			transform: rotate(135deg) skew(-10deg, -10deg);
			
			box-shadow: $px -1*$px 0 rgba(0,0,0,0.35) inset,
						$px $px $px rgba(0,0,0,0.25) inset,
						$px -1*$px $px rgba(255,255,255,0.85);
					
			border-top: $px solid rgba(255,255,255,0.1);
			// border-top: $px solid rgb(160,175,199);

			-webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
					from(black),
					color-stop(0.35, black),
					color-stop(0.5, transparent),
					to(transparent));
		}
				
		&:active:before {
			background-image: -webkit-gradient(linear, left bottom, right top, from($header-button-down-gradient[0]), to($header-button-down-gradient[1]));
		}
	}

	/* Button: Disabled */
	&.disabled,
	&:disabled,
	&:disabled:active,
	&.disabled:active {
		border-color: $button-disabled-border-color;

		box-shadow: inset 0 -($px) $px rgba(0, 0, 0, 0.05),
					inset 0 $px 2*$px rgba(0, 0, 0, 0.1);
				
		gradient($button-disabled-gradient);
	
		cursor: default;
	}
}
