div.details {
	box-vertical();
	
	background: #d0d4dc;
	div.contact {
		margin: 1em;
		padding: 1em;
	
		background: white;
	
		border: $px solid #a1a7ad;
		border-radius: 1em;
	
		h2 {
			margin: 0;
			font-size: 1.5em;
		}
	
		p {
			font-size: 1.25em;
			margin: 1em 0 0 0;
		}
	}
}