.well.fields {
    padding: 0;
}

div.field {
    border-box();
	width: 100%;
	
	box-horizontal();
	padding: 0.5em;

	border-top: $px solid $editor-field-border-color;
	
	&:first-child {
    	border-top: none;
    }
	
	label {
		display: block;
		width: 4em;
		padding-right: 1em;

		color: $editor-label-text-color;
		line-height: 2.5em;
		font-weight: bold;
		text-align: right;
	}
	
	input {
		display: block;
		box-flex: 1;
		padding: 0.5em;
		
		border: none;
		
		font-size: 1em;
	}
}
