.box-horizontal {
	box-horizontal();
}

.box-vertical {
	box-vertical();
}

.box-center {
	box-center();
}

.box-center-main {
	box-center-main();
}

.box-center-cross {
	box-center-cross();
}

.flex-none {
	flex: none !important;
}

// Bug in stylus "cannot coerce !important to unit" when using !important on numbers
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 2;
}
.flex-3 {
	flex: 3;
}
.flex-4 {
	flex: 4;
}
.flex-5 {
	flex: 5;
}
.flex-6 {
	flex: 6;
}
.flex-7 {
	flex: 7;
}
.flex-8 {
	flex: 8;
}
.flex-9 {
	flex: 9;
}
.flex-10 {
	flex: 10;
}
