.frame {
	height: 100%;
	width: 100%;
	
	box-vertical();

	background-color: $frame-background-color;
	background-size: 0.75rem;
	background-image: linear-gradient(left, rgba(0, 0, 0, 0.01) 31%, transparent 31%, transparent);
	
	button.large,
	.button.large {
		display: block;
		margin: 0.25rem 0.625rem;
	
		&:first-child {
			// If a button, for some odd reason, is the first thing in a frame
			// Then give it a nice top margin...
			margin-top: 0.625rem;
		}
	}
}
