// nib for CSS3 mixins
@import 'nib'
vendor-prefixes = webkit official
support-for-ie = false

// Supporting variables and mixins
@import 'Variables'
@import 'Mixins'

// Body, HTML, etc
@import 'Layout'

// Base styles
.iOCSS {
	box-vertical();
	width: 100%;
	height: 100%;
	
	font-family: $base-font; // TBD: is this too opinionated?
	
	overflow: hidden;
	
	& > * {
		height: 100%;
	}
}

// Main elements
.iOCSS {
    @import 'Scroller'
    @import 'Buttons'
    @import 'Header'
    @import 'Footer'
    @import 'Frame'
    @import 'Well'
    @import 'Search'
    @import 'List'
    @import 'Editor'
    @import 'Badge'
}

// Themes
@import 'themes/White'
@import 'themes/Black'
