// nib for CSS3 mixins
@import 'nib'

// Supporting variables and mixins
@import 'Variables'
@import 'Mixins'

// Body, HTML, etc
@import 'Layout'

// Base styles
.iOCSS {
	box-vertical();
	width: 100%;
	height: 100%;
	
	// Start larger than our base size
	font-size: $base-size + 2 * 1px;
	font-family: $base-font;
	
	overflow: hidden;
	
	& > * {
		height: 100%;
	}
}

// Main elements
.iOCSS {
    @import 'Scroller'
    @import 'Buttons'
    @import 'Header'
    @import 'Footer'
    @import 'Search'
    @import 'List'
    @import 'Editor'
    @import 'Frame'
    @import 'Badge'
}

// Themes
@import 'themes/White'
@import 'themes/Black'
