.list {
	flex: 1;
	
	padding: 0;
	margin: 0;
	
	list-style: none;

	li {
		border-box();
		box-horizontal();
		align-items: center;

		width: 100%;
		height: 3rem;
		padding: 0 0.5rem;
		
		border-bottom: $px solid $list-border-color;
		
		cursor: pointer;
		overflow: hidden;
		
		> strong,
		> span {
			box-flex: 2;
			
			font-size: 1.25rem;
		}
		
		// A drawer for buttons
		> div:last-child {
			box-horizontal();
			flex: 1;
			justify-content: flex-end;
			
			.button.details,
			button.details {
				padding-left: 0.085rem;
			}
	
			i.view {
				color: $list-view-color;
				font-size: 1.45rem;
				height: 1rem;
			}
		}

		.button,
		button {
			vertical-align: top;
			padding: 0.25rem 0.5rem;
			margin: 0;

			font-size: 0.95rem;
			
			text-align: center;
		}
		
		.button.round,
		button.round {
			vertical-align: top;
			padding: 0;
			margin: 0 0.75rem 0 0.5rem;
			
			font-size: 0.8625rem;

			i {
				font-size: 0.95rem;
				line-height: 1.35;
			}
		}
	}
}