// Enable iOS scrolling
scrollable() {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

// Box sizing
border-box() {
	box-sizing: border-box;
}

/*
Various helpers for CSS3 flexible box model
*/
box-horizontal() {
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}

box-vertical() {
	display: box;
	box-orient: vertical;
	box-align: stretch;
}

box-center() {
	box-pack: center;
	box-align: center;
}
