adjust-colors(list, by = 10%) {
    newList = ()
    for color in list {
        push(newList, lighten(color, by))
    }
    
    return newList
}

// Enable iOS scrolling
scrollable() {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

// Box sizing
border-box() {
	box-sizing: border-box;
}

// Gradients
gradient-shiny($colors) {
    background-image: linear-gradient(top, $colors[0] 0%, $colors[1] 50%, $colors[2] 51%, $colors[3] 76%, $colors[4] 100%);
}

gradient($colors) {
	background: linear-gradient($colors[0], $colors[1]);
}

// Various helpers for CSS3 flexible box model
box-horizontal() {
	display: flex;
	flex-direction: row;
}

box-vertical() {
	display: flex;
	flex-direction: column;
}

box-center() {
	justify-content: center; // main axis
	align-items: center; // cross axis
}
