form.search {
	position: relative;

	padding: 0.357rem 0.5rem;

	border-bottom: $px solid $search-border-color;
	
	gradient($search-gradient);

    box-shadow: 0 0.175rem 1rem rgba(0,0,0,0.3);


	i {
		position: absolute;
		
		color: $search-icon-color;
		font-size: 1.357rem;
	}

	i.icon-search {
		top: 0.6rem;
		left: 1.125rem;
	}

	i.icon-remove-sign {
		border-box();
		display: block;
		width: 1.47383935151068rem;
		height: 1.47383935151068rem;
	
		top: 0.65rem;
		right: 0.75rem;
	
		line-height: 1.55rem;
	
		text-align: center;
		cursor: pointer;
	}

	input {
		border-box();
		width: 100%;
		height: 2rem;
		padding: 0.357rem 0.75rem 0.357rem 2rem;
	
	    box-shadow: inset 0 0.125rem 0.25rem rgba(0,0,0,0.2);

		border: $px solid $search-field-border-color;
		border-radius: 1rem;
		
		font-size: 1rem;
	
		outline: none;
	}
}
