/* Base
/* --------------------------------- */
// The smallest size we want to support
$base-size = 16;

// The size of a "pixel" based on the smallest size
$px = 1 / $base-size + 0rem;
$vpx = 1 / $base-size + 0em;

$base-font = Helvetica;


/* Header
/* --------------------------------- */
$header-height = 3rem - $px;
$header-border-color = rgb(56, 85, 112);
$header-gradient = rgb(190, 204, 221) rgb(88, 115, 151);
$header-shadow-color = rgba(0, 0, 0, 0.1);

$header-text-color = rgb(255, 255, 255);
$header-text-shadow-color = rgba(0, 0, 0, 0.45);

$header-button-size = 32*$px;
$header-button-gradient = rgb(153, 170, 194) rgb(65, 97, 141);
$header-button-down-gradient = adjust-colors($header-button-gradient, -5%);

$header-button-default-gradient = rgb(138, 172, 236) rgb(38, 100, 221);
$header-button-default-down-gradient = adjust-colors($header-button-default-gradient, -4%);


/* Footer
/* --------------------------------- */
$footer-border-color = rgb(87, 87, 87);
$footer-shadow-color = rgb(87, 87, 87);

$footer-gradient = rgb(66, 66, 66) rgb(24, 24, 24);

$footer-button-down-gradient = rgb(48, 48, 48) rgb(68, 68, 68);

$footer-button-border-left-color = rgb(33, 33, 33);

$footer-size = 3.5rem;
$footer-font-size = $footer-size - 2.75;

$footer-button-text-color = rgb(153, 153, 153);
$footer-button-down-text-color = rgb(255, 255, 255);

$footer-icon-size = $footer-size - 1.625;
$footer-icon-height = 1.75rem;

$footer-icon-gradient = rgb(165, 165, 165) rgb(89, 89, 89);
$footer-icon-down-gradient = rgb(52, 130, 252) rgb(51, 196, 248);

$footer-icon-color = rgb(190, 190, 190);
$footer-icon-down-color = rgb(5, 175, 255);


/* Search
/* --------------------------------- */
$search-icon-color = rgb(150, 155, 161);
$search-gradient = rgb(224, 228, 231) rgb(180, 190, 198);
$search-field-border-color = rgb(150, 150, 150);
$search-border-color = rgb(163, 163, 163);
$search-placeholder-color = rgb(116, 116, 116);
$search-icon-color = rgb(151, 151, 151);


/* Frames
/* --------------------------------- */
$frame-background-color = rgb(202, 207, 216);
$frame-inner-border-color = rgb(161, 167, 173);
$frame-inner-background-color = rgb(255, 255, 255);
$frame-highlight-color = rgb(244, 244, 244);


/* Editor
/* --------------------------------- */
$editor-field-border-color = rgb(169, 173, 181);
// $editor-label-text-color = rgb(81, 102, 145);
$editor-label-text-color = rgb(0, 0, 0);


/* List
/* --------------------------------- */
$list-border-color = rgb(224, 224, 224);
$list-view-color = rgb(123, 123, 123);


/* Badge
/* --------------------------------- */
$badge-red-gradient = rgb(249, 186, 189) rgb(231, 38, 48) rgb(231, 38, 48) rgb(226, 4, 15) rgb(197, 1, 3);


/* Buttons
/* --------------------------------- */
$button-font = $base-font;
$button-text-color = rgb(255, 255, 255);

$arrow-offset = -0.5rem + $px;
$arrow-darken = 3%;
$arrow-lighten = 3.5%;
$arrow-button-radius = 0.4375rem;
$arrow-button-triangle-skew = -10deg;
$arrow-button-triangle-size = ($header-button-size / (2 * cos(45 - ($arrow-button-triangle-skew / 2))));

/* Button: Blue */
$button-blue-border-color = rgba(14, 64, 107, 0.70);

$button-blue-gradient = rgb(119,155,233) rgb(55,111,224) rgb(38,100,219) rgb(34,96,221) rgb(36,99,222);
$button-blue-down-gradient = adjust-colors($button-blue-gradient, -10%);

/* Button: Green */
$button-green-border-color = rgba(14, 107, 64, 0.70);

$button-green-gradient = rgb(136,226,137) rgb(43,202,45) rgb(11,197,13) rgb(31,199,33) rgb(10,175,12);
$button-green-down-gradient = adjust-colors($button-green-gradient, -10%);

/* Button: Black */
$button-black-border-color = rgba(0, 0, 0, 0.70);

$button-black-gradient = rgb(68, 68, 68) rgb(20, 20, 20);
$button-black-down-gradient = adjust-colors($button-black-gradient, -10%);

/* Button: Gray */
$button-gray-border-color = rgba(51, 51, 51, 0.50);

$button-gray-gradient = rgb(206, 206, 206) rgb(156, 156, 156);
$button-gray-down-gradient = adjust-colors($button-gray-gradient, -10%);

/* Button: Red */
$button-red-border-color = rgba(156, 0, 0, 0.70);

$button-red-gradient = rgb(226,136,137) rgb(202,43,45) rgb(197,11,13) rgb(199,31,33) rgb(175,10,12);
$button-red-down-gradient = adjust-colors($button-red-gradient, -5%);

/* Button: Round: Blue */
$button-round-blue-gradient = rgb(126, 168, 231) rgb(55, 113, 215);
$button-round-blue-down-gradient = adjust-colors($button-round-blue-gradient, -10%);

/* Button: Round: Red */
$button-round-red-gradient = rgb(227, 121, 128) rgb(190, 25, 34);
$button-round-red-down-gradient = adjust-colors($button-round-red-gradient, -10%);

/* Button: Disabled */
$button-disabled-border-color = rgba(51, 51, 51, 0.20);
$button-disabled-gradient = rgb(223, 223, 223) rgb(208, 208, 208);
