$well-margin = 0.875rem;

.well {
	clearfix();
	
	margin: $well-margin;
	padding: 1rem;

	background: $frame-inner-background-color;
	
	box-shadow: 0 $px 0 $frame-highlight-color,
				inset 0 $px 2*$px rgba(0, 0, 0, 0.20);

	border: $px solid $frame-inner-border-color;
	border-radius: 0.625rem;

	h2 {
		margin: 0;
	}

	p {
		margin: 1rem 0 0 0;
	}
}

.well + .well {
	margin-top: 0.5rem;
}

textarea.well {
	padding: 0.5rem;
	
	font-size: 1rem;
	font-family: Helvetica;
}

.well-header {
	margin: 1.25rem $well-margin 0.5rem $well-margin;

	padding: 0 0 0 0.75rem;
	font-size: 1.125rem;
	font-weight: bold;
	color: $well-header-color;
	text-shadow: 0 $px 0 rgba(255, 255, 255, 0.85);

	& + .well {
		margin-top: 0;
	}
}

.well + .well-header {
	margin-top: 0.5rem;
}
