.well {
	clearfix();
	
	margin: 0.875rem;
	padding: 1rem;

	background: $frame-inner-background-color;
	
	box-shadow: 0 $px 0 $frame-highlight-color,
				inset 0 $px 2*$px rgba(0, 0, 0, 0.20);

	border: $px solid $frame-inner-border-color;
	border-radius: 0.625rem;

	h2 {
		margin: 0;
	}

	p {
		margin: 1rem 0 0 0;
	}
}

.well + .well {
	margin-top: 0.5rem;
}
